@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #002d62;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

.flex-display {
    display: flex;
    flex-direction: row;
}

.new-button {
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
    background: turquoise;
    width: 3.3rem;
    height: 3.4rem;
    border-radius: 50px;
}

.invisible {
    opacity: 0;
    transition: 1s ease;
}

.new-button:hover {
    background: rgb(198, 241, 4);
    transition: 0.5s;
}

.new-form {
    margin-top: 30px;
    background-color: rgb(95, 175, 175);
    color: black;
    height: 22rem;
    width: 15rem;
    border-radius: 17px;
    transition: 1s ease;
    text-align: center;
}

p {
    font-size: 1.5rem;
}

input {
    width: 14rem;
    height: 2.5rem;
    border-radius: 15px;
    margin-top: 15px;
    font-size: 1.8rem;
    background: rgb(185, 200, 201);
    border-style: none;
}

textarea:focus,
input:focus {
    outline: none;
    background-color: lightgreen;
}

button {
    margin-top: 15px;
    border-radius: 10px;
    font-size: 1.15rem;
    width: 6rem;
    cursor: pointer;
}

button:hover {
    background: rgb(182, 230, 9);
}

.save-btn {
    background: chartreuse;
}

.clear-btn {
    background: crimson;
}

.main-display {
    display: flex;
    flex-direction: row;
    /* border: 1px white solid; */
    width: 80vw;
    height: 100vh;
    margin-left: 3vw;
    margin-top: 3vh;
}

@keyframes error {
    30% {
        background-color: red;
    }
    100% {
        background-color: turquoise;
    }
}

.error {
    animation-name: error;
    animation-duration: 1s;
}

.book-card {
    border: 3px green solid;
    background: rgb(32, 43, 28);
    border-radius: 10px;
    width: 12rem;
    height: 11rem;
    font-size: 1.25rem;
    padding: 10px;
    transition: 0.5s;
    margin-left: 10px;
}

.edit-btn {
    float: right;
    height: 1.3rem;
    width: 1rem;
    cursor: pointer;
    text-align: center;
    background: tomato;
}
